/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* general */

:root {
  --primary_bg: #212121;
  --secondary_bg: #343434;
  --primary_text: #fcf7eb;
  --secondary_text: #c1c1c1;
  --cta: #a778cd;
  --cta_hover: #5e367f;
  --cat_red: #d27575;
  --cat_yellow: #d2b875;
  --cat_green: #a7d275;
  --cat_brown: #c4a28e;
  --cat_blue: #85b3c8;
  --cat_pink: #d99bcb;
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
}

h1,
h2,
h3,
h4,
p {
  font-family: Helvetica, sans-serif;
}

h5 {
  font-family: "Bebas Neue", sans-serif;
}

/* fonte mobile */
h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 22px;
}

p {
  font-size: 14px;
}

h1,
h2,
.p_bold {
  font-weight: bold;
}

/* fonte desktop */

@media (min-width: 800px) {
  h1 {
    font-size: 300px;
  }

  h2 {
    font-size: 100px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 28px;
  }

  p {
    font-size: 22px;
  }

  .p_bigger {
    font-size: 25px;
  }

  .p_smaller {
    font-size: 14px;
  }

  h1,
  h2,
  .p_bold {
    font-weight: bold;
  }
}
